:root {
  --cor-texto-primario: #e8e7cb;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "DrukCond";
  src: url(../public/fonts/DrukCond-Super-Cy-Gr-Web.woff2) format("woff");
  src: url(../public/fonts/DrukCond-Super-Cy-Gr-Web.woff2) format("woff2");
  font-display: swap;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #8eaeb6;
}

body {
  font-family: "DrukCond", sans-serif;
}
