/* styles/Header.module.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.472rem 0;
  margin: 0 4.906rem;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.05em;
}

.logo {
  color: #fffee3;
  font-size: 3.75rem;
}
.menuLink {
  /* Add your styling here */
}
