/* styles/Header.module.css */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.472rem 0;
  font-weight: 700;
  font-style: normal;
  letter-spacing: -0.05em;
}

.logo {
  color: var(--cor-texto-primario);
  font-size: 3.75rem;
}
.menuLink {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.3125rem;
  color: inherit;
  text-decoration: none;
}
