.containerBody {
  width: 90%;
  margin: 0 auto;
  position: relative;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 630px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
  color: var(--cor-texto-primario);
}

.title {
  grid-column: 3 / 13;
  grid-row: 1;
  font-size: 16vw;
  line-height: 0.9;
}

.living {
  grid-column: 3/11;
  grid-row: 2;
  font-size: 16vw;
  line-height: 0.9;
}

.location {
  grid-column: 8/13;
  grid-row: 2;
  margin: 2% 0 0 5%;
}

.cityCountry {
  display: block;
  font-size: 7.2vw;
  line-height: 0.9;
  text-align: left;
  letter-spacing: 0.2rem;
}
