/* H1Component.module.css */
.h1Title {
  cursor: pointer;
  text-decoration: none;
  font-family: "obviously", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.h1Title:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.containerBody {
  width: 90%;
  margin: 0 auto;
}
